<div class="container">
  <label for="uname"><b>Username</b></label>
  <input type="text" [(ngModel)]="userName" (ngModelChange)="onUsernameChange($event)" placeholder="Enter Username" name="uname" required>
  
  <label for="psw"><b>Password</b></label>
  <input type="password" [(ngModel)]="userPass" (ngModelChange)="onPasswordChange($event)" placeholder="Enter Password" name="psw" required>
  <div *ngIf="wrongCredPop" class="error-text">Invalid username or password.</div>

  <button type="submit" (click)="validateInputs()">
    LogIn
  </button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>
  
<div class="container">
  <span class="psw"><a href="#">Forgot password?</a></span>
</div>

