form {
  border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  
button {
  background-color: #0d5993;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
  
  
button:hover {
  opacity: 0.8;
}

  
.container {
  padding: 16px;
  margin-top:10%;
  width:440px;
  background: #f3f1f1;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.container .psw a {
  text-decoration: none;
  color: white;
  display :flex;
  justify-content: center;
  font-size: smaller;
}

.container .psw :hover {
  opacity: 0.8;
}
  
.container .psw {
  float: right;
  padding-top: 16px;
  background-color: #0d5993;
  cursor: pointer;
  width: 100%;
  padding-bottom: 16px;
}
  
  
